.hero {
  display: grid;
  justify-content: center;
  min-height: 90vh;
  place-items: center;
  text-align: center;
}

.hero-content {
  display: grid;
  gap: 20px;
}

.hero-subtitle {
  font-weight: lighter;
  font-size: medium;
  color: #8d8e92;
}

.hero-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.hero-cta {
  background-color: #449dd1;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}

.hero-cta:hover {
  pointer-events: auto;
}

.feature-content {
  background-color: #449dd1;
  padding: 50px;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  position: center;
  color: white;
}

.feature {
  display: flex;
  justify-content: space-evenly;
  width: 100%w;
}

.calculator-icon {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 30px;
  color: white;
}

.crosshair-icon {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 30px;
  color: white;
}

.money-icon {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 30px;
  color: white;
}

.smartphone-icon {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 30px;
  color: white;
}

.cta-groupe-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.learn-more {
  background-color: #449dd1;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}

.cta-hero {
  margin: 10rem 4.6rem;
  display: grid;
  justify-content: center;
  min-height: 50vh;
  place-items: center;
  text-align: center;
  background-color: #449dd1;
  padding: 0 20px;
  border-radius: 15px;
}

.cta-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.cta-subtitle {
  font-weight: lighter;
  font-size: medium;
  color: white;
}

.cta-button {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  border: none;
}
